/* 
    Blue HEX #007AC2 hsl(202, 100%, 38%)
    Beige HEX #E0CF9C hsl(45, 52%, 75%)
*/
@font-face {
    font-family: "presa";
    src: url("presa.ttf")
}

body {
    background-color: hsl(45, 52%, 90%);
}

/* .navbar-header { */
    /* background-color: hsl(202, 100%, 38%);
    color: hsl(45, 52%, 90%);
    font-family: "presa";
    font-size: 30px;
} */
.navbar-light .navbar-brand {
    background-color: hsl(202, 100%, 38%);
    color: hsl(45, 52%, 90%);
    font-family: "presa";
    font-size: 30px;
}

#navbarNav {
    border-bottom: 3px solid hsl(202, 100%, 38%);
}


.border-right {
    border-color: hsl(202, 100%, 38%);
}

.nav-link {
    color: hsl(202, 100%, 38%);
}