/* 
    Base colors to be used in this project
    Blue HEX #007AC2 hsl(202, 100%, 38%)
    Beige HEX #E0CF9C hsl(45, 52%, 75%)
*/
/* brand font */
@font-face {
    font-family: "presa";
    src: url("assets/presa.ttf")
}

/* basic background and text color bootstrap overrides */
body {
    background-color:hsl(45, 52%, 90%);
}

h2, h3 {
    color: hsl(202, 100%, 38%);
}

footer {
    border-top: 3px solid hsl(45, 52%, 65%);
}

/* Changing social media icon styling */
footer a {
    color: hsl(45, 52%, 65%);
    font-size: xx-large;
}

footer a:hover {
    color: hsl(202, 100%, 38%);
}

/* This ensures the fixed navbar doesn't cover main content */
main {
    padding-top: 80px;
}

/* navbar look  bootstrap override */
.navbar-light .navbar-brand {
    background-color: hsl(202, 100%, 38%);
    color: hsl(45, 52%, 90%);
    font-family: "presa";
    font-size: 30px;
}

.navbar-light {
    border-bottom: 3px solid hsl(202, 100%, 38%);
    color: hsl(202, 100%, 38%);
    background-color: hsl(45, 52%, 90%);
}

.border-right {
    border-color: hsl(202, 100%, 38%);
}

.navbar-light .navbar-nav .nav-link {
    color: hsl(202, 100%, 38%);
}

/* Portfolio page cards and buttons bootstrap default overrides */
.card-body {
    background-color: hsl(45, 52%, 90%);
}
.btn-primary {
    background-color: hsl(45, 52%, 65%);
    border-color: hsl(45, 52%, 65%);
}
.btn-primary:hover{
    background-color: hsl(202, 100%, 38%);
}

.modal-header {
    background-color: hsl(45, 52%, 90%);
    border-color: hsl(45, 52%, 90%);
    color: hsl(202, 100%, 38%);
}

.modal-body {
    background-color: hsl(45, 52%, 90%);
    border-color: hsl(45, 52%, 75%);
}
